[submodule "iampachinko/public"]
	path = iampachinko/public
	url = git@github.com:pachinko2821/pachinko2821.github.io.git 

[submodule "iampachinko/themes/terminal"]
	path = iampachinko/themes/terminal
	url = https://github.com/panr/hugo-theme-terminal.git 
